<div class="p-3">
    <div class="card">
        <div class="card-body ">
            <div class="input-group">
                <input class="form-control" type="text" [(ngModel)]= "keyword" placeholder="keyword" >
                <button class="btn btn-outline-info" (click)="getCustomers()">
                    <i class="bi bi-search"></i>
                </button>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Code</th><th>Name</th><th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let customer of customers">
                        <td>
                            {{customer.code}}
                        </td>
                        <td>
                            {{customer.name}}
                        </td>
                        <td>
                            {{customer.email}}
                        </td>
                        <td>
                            <button class="btn btn-outline-primary ms-4" (click)="handleCheckCustomer(customer)">
                                <i [ngClass]="customer.checked? 'bi bi-check' : 'bi bi-circle'"></i>
                            </button>
                            <button class="btn btn-warning ms-4" (click)="handleEdit(customer.id)">
                                <i class="bi bi-pencil"></i>
                            </button>
                            <button class="btn btn-danger ms-4" (click)="handleDeleteCustomer(customer)">
                                <i class="bi bi-trash"></i>
                            </button>
                            <button class="btn btn-outline-success ms-4">
                                Account
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ul class="nav nav-pills">
                <li *ngFor="let page of [].constructor(this.totalPage); let i= index">
                    <button [ngClass]= "this.currentPage== (i+1)? 'btn btn-primary ms-2': 'btn btn-outline-primary ms-2'" (click)="handlePageCheck(i+1)">
                        {{(i+1)}}
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>